.BlockAdvantage {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantageTitleBottom,
.advantageTitle {
	font-size: 28px;
	color: #565656;
	font-weight: 600;
	margin-bottom: 80px;
	animation-duration: 1.7s;
	animation-name: fadeIn;
}
.advantageTitleBottom {
	color: #00363c;
	margin-top: 200px;
	margin-bottom: 47px;
}
.advantageTitleSmall {
	font-size: 16px;
	font-weight: 400;
	color: #565656;
	width: 550px;
	text-align: center;
	animation-name: fadeIn;
	animation-duration: 1.7s;
}
.advantageRows {
	display: grid;
	grid-template-columns: 540px 540px;
	column-gap: 30px;
	row-gap: 60px;
}
.advantageItem {
	animation-duration: 1.7s;
	transition: 0.6s;
}
.advantageItem:hover {
	box-shadow: 0 4px 22px rgb(0 0 0 / 30%);
	transform: translateY(-10px);
}
.advantageItem:nth-child(1),
.advantageItem:nth-child(3) {
	animation-name: fadeInLeft;
}
.advantageItem:nth-child(2),
.advantageItem:nth-child(4) {
	animation-name: fadeInRight;
}

.advantageItemTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 30px;
}
.advantageItem:nth-child(1) .advantageItemTop,
.advantageItem:nth-child(4) .advantageItemTop {
	background: linear-gradient(90deg, #05dcde, #11e58a);
}
.advantageItem:nth-child(2) .advantageItemTop,
.advantageItem:nth-child(3) .advantageItemTop {
	background: linear-gradient(90deg, #6973ba, #11e58a);
}
.itemTopTitle {
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	margin-bottom: 25px;
}
.itemTopText {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}
.advantageItemBottom {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	background-color: #d4ffea;
}
.advantageItemBottom svg + svg {
	margin-left: 24px;
}
