.Arrow {
	display: block;
	left: 50%;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 58px;
	animation: anim_up_down 2s ease infinite;
}
@keyframes anim_up_down {
	0% {
		bottom: 38px;
		opacity: 1;
	}
	to {
		opacity: 0;
		bottom: 15px;
	}
}
