* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
body {
	font-family: var(--font-family);
	background: var(--bg);
}

button {
	border: none;
	background: transparent;
}
::-webkit-scrollbar {
	width: 17px;
}
::-webkit-scrollbar-track {
	background: #d9d9d9;
}
::-webkit-scrollbar-thumb {
	background: var(--green);
	border-radius: 30px;
	box-shadow: inset 0 0 5px #fff;
}
a {
	text-decoration: none;
}
ellipse {
	border-radius: 100%;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main {
	position: absolute;
}
.wrap {
	width: 1112px;
}
.blockBtn {
	padding: 10px 24px;
	color: #fff;
	background-image: linear-gradient(90deg, #13e780, #03daf2);
	border-radius: 20px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	z-index: 1;
	margin-bottom: 90px;
}
.blockBtn::before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(90deg, #ba03f2, #13e780);
	z-index: -1;
	transition: 0.5s;
	opacity: 0;
	border-radius: 20px;
}
.blockBtn:hover::before {
	opacity: 1;
}

.headerBg {
	width: 100%;
	height: 100vh;
	background-color: var(--white);
}
.bg {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 50% 50% / 0px 0px 3% 3%;
	background: linear-gradient(45deg, var(--purple) 0%, var(--green));
	overflow: hidden;
}

.ball:nth-child(1) {
	top: 40px;
	left: 0;
	width: 93px;
	height: 93px;
	background: linear-gradient(45deg, #9338d7, #558dad);
}
.ball:nth-child(2) {
	top: 55px;
	left: 282px;
	width: 258px;
	height: 258px;
	background: linear-gradient(55deg, #9338d7, #5d9abd);
}
.ball:nth-child(3) {
	bottom: 11px;
	left: 0;
	width: 286px;
	height: 286px;
	background: linear-gradient(45deg, var(--purple) 30%, #5d9abd);
}
.ball:nth-child(4) {
	top: 246px;
	right: 236px;
	width: 93px;
	height: 93px;
	background: linear-gradient(35deg, #5d9abd, var(--green));
}
.ball:nth-child(5) {
	bottom: 52px;
	right: -170px;
	width: 360px;
	height: 360px;
	background: linear-gradient(0deg, #41a79f, #25cf8c);
}
